body {
  width: 100%;
}

.row {
  border-bottom: 5px solid #000;
  margin: 70px auto;
  width: 50%;
}

.head {
  border-bottom: 3px solid #000;
  margin-bottom: 20px;
}

.bg {
  background-color: #000;
  opacity: 0.4;
}
